body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 40px;
    max-width: 50%;
    padding-left: 5%;
}

h1 {
    font-size: 36px;
    color: darkgreen;
    font-family: 'EB Garamond', 'Times New Roman', Times, serif;
    font-weight: 500;
}

.sidebar {
    padding: 0;
    width: 100px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    color: grey;
    font-family: 'EB Garamond', 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
}

.sidebar a.active {
    color: darkgreen;
}

a:hover {
    background-color: rgb(74, 255, 74);
}

::selection {
    background-color: rgb(74, 255, 74);
}

::-moz-selection {
    background-color: rgb(74, 255, 74);
}

div.content {
    margin-left: 100px;
    height: 100%;
}